https://velog.io/@seungsang00/Ubuntu-%EC%9A%B0%EB%B6%84%ED%88%AC%EC%97%90-MySQL-%EC%84%A4%EC%B9%98%ED%95%98%EA%B8%B0

$ sudo systemctl start mysql

Ubuntu 서버 재시작시 MySQL 자동 재시작

$ sudo systemctl enable mysql

MySQL 접속

$ sudo /usr/bin/mysql -u root -p


사용자 정보 확인
mysql> SELECT User, Host, authentication_string FROM mysql.user;


데이터 베이스 만들고 확인
SHOW DATABASES;

사용자 권한 부여시

for가 아니라 to임
GRANT ALL PRIVILEGES ON TESTDB.* TO 'testuser'@'localhost';

SHOW GRANTS FOR 'testuser'@'localhost';

pip install pymysql

In [3]:
import pymysql

db = pymysql.connect("localhost", "testuser", "비밀번호", "TESTDB")

TypeError: Connection.__init__() takes 1 positional argument but 5 were given

In [4]:
print(pymysql.__version__)

1.4.6

In [5]:
db = pymysql.connect(host="localhost", user="testuser", password="rkatkgkq1@", database="TESTDB")

In [6]:
cursor = db.cursor()

cursor = db.cursor()는 pymysql 라이브러리를 사용하여 MySQL 데이터베이스와 상호작용할 때 매우 중요한 명령입니다. 이 명령은 데이터베이스에 대한 "커서" 객체를 생성합니다.

커서란 무엇일까요? 커서는 SQL 쿼리의 결과를 가져오고, 그 결과를 한 번에 하나씩 순회할 수 있는 데이터베이스 컨텍스트입니다. 다시 말해, 커서는 SQL 쿼리의 실행을 제어하고 결과를 처리하는데 사용되는 객체입니다.

db.cursor() 호출로 생성된 커서 객체는 다음과 같은 주요 메소드들을 가지고 있습니다:

    execute(query, params): SQL 쿼리를 실행합니다. 필요에 따라 파라미터(params)도 함께 전달할 수 있습니다.
    fetchone(): 쿼리 결과에서 다음 행을 반환합니다.
    fetchall(): 쿼리 결과에서 모든 행을 반환합니다.
    fetchmany(size): 쿼리 결과에서 지정된 개수(size)만큼의 행을 반환합니다.

따라서, 파이썬으로 MySQL 데이터베이스와 상호작용하기 위해서는 우선 db.cursor()로 커서 객체를 만들고, 이 커서 객체의 메소드들(execute(), fetchone(), 등등)을 사용하여 SQL 명령을 실행하거나 그 결과를 처리하는 방식으로 작동됩니다.

by GPT

In [7]:
# Execute the SQL command
cursor.execute("SELECT VERSION()")

# Fetch a single row using fetchone() method.
data = cursor.fetchone()

print ("Database version : %s " % data)

Database version : 8.0.34-0ubuntu0.22.04.1

In [8]:
# disconnect from server # 반드시 커서를 닫아줘야함.
db.close()

# 이제 INSERT SELECT UPDATE DELETE 해볼거임

In [10]:
db = pymysql.connect(host="localhost", user="testuser", password="rkatkgkq1@", database="TESTDB")

In [12]:
cursor = db.cursor()

In [13]:
## 테이블 생성

sql = """
CREATE TABLE employees (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255),
    salary FLOAT
)
"""


try:
    cursor.execute(sql)
    print("Table has been created successfully.")
except Exception as e:
    print("Error occurred:", e)

Table has been created successfully.

In [14]:
## data insert

sql = """
INSERT INTO employees(name, salary) 
VALUES ('John Doe', 50000), ('Jane Doe', 60000)
"""

try:
    cursor.execute(sql)
    db.commit()
    print("Data has been inserted successfully.")
except Exception as e:
    print("Error occurred:", e)

Data has been inserted successfully.

In [15]:
## data select(조회)

sql = "SELECT * FROM employees"

try:
   cursor.execute(sql)

   results = cursor.fetchall()  
   for row in results:
       print(row)

except Exception as e: 
   print("Error occurred:", e)

(1, 'John Doe', 50000.0)
(2, 'Jane Doe', 60000.0)

In [20]:
## data update(조회)

sql = """
UPDATE employees 
SET salary=70000 
WHERE name='John Doe'
"""

try:
    cursor.execute(sql)
    db.commit()
    print("Data has been updated successfully.")
except Exception as e: 
   print("Error occurred:", e)  
   db.rollback()

Data has been updated successfully.

In [21]:
sql = "SELECT * FROM employees"

try:
   cursor.execute(sql)

   results = cursor.fetchall()  
   for row in results:
       print(row)

except Exception as e: 
   print("Error occurred:", e)

(1, 'John Doe', 70000.0)
(2, 'Jane Doe', 60000.0)

In [22]:
sql = "DELETE FROM employees WHERE name='Jane Doe'"

try:
     cursor.execute(sql)
     db.commit()
     print("Data has been deleted successfully.")
  
except Exception as e: 
     print("Error occurred:", e)  
     db.rollback()

Data has been deleted successfully.

In [23]:
sql = "SELECT * FROM employees"

try:
   cursor.execute(sql)

   results = cursor.fetchall()  
   for row in results:
       print(row)

except Exception as e: 
   print("Error occurred:", e)

(1, 'John Doe', 70000.0)